@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", sans-serif;
}

body {
    background: #191919;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    max-width: 100%;
    overflow: hidden;
}

.gallery {
    display: flex;
    gap: 40px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 900px;
    padding: 10px;
}

.gallery-slide {
    display: flex;
    gap: 20px;
    flex: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery-slide img {
    width: 280px;
    height: 390px;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: transform 0.5s, filter 0.5s;
}

.gallery-slide img:hover {
    filter: grayscale(0);
    transform: scale(1.05);
    cursor: pointer;
}

.gallery::-webkit-scrollbar {
    display: none;
}

#backBtn,
#nextBtn {
    font-size: 50px;
    cursor: pointer;
    color: #ff9d4d;
    user-select: none;
    padding: 0 20px;
}

#backBtn:active,#nextBtn:active{
    transform: scale(0.9);
    filter: drop-shadow(0 0 20px rgb(255, 166, 0));
}
.texts{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 4px rgb(0, 255, 251));
}

.txt1, .txt2{
    display: flex;

}

.txt1 span, .txt2 span{
    color: white;
    font-size: 45px;
}

.lumina{
    filter: drop-shadow(0 0 4px rgb(0, 255, 251)) 
            drop-shadow(0 0 8px rgb(0, 255, 251))
            drop-shadow(0 0 8px rgb(0, 255, 251));
    transition: 0.2s ease-in-out;

}