@import url('https://fonts.googleapis.com/css2?family=Concert+One');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Concert One", sans-serif;

}

body{
    background-image: url(./imgw/original-d33e0ccd29b617c844507a72dfe00c51.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.card{
    width: 90%;
    max-width: 470px;
    /* background: linear-gradient(135deg, #00feba,#5b548a); */
    background: rgba(255, 255, 255, 0.1); 
    color: #ffffff;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    backdrop-filter:blur(20px) ;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    box-shadow: 0px 0px 10px white;
}


.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button:hover{
    border: 0;
    outline: 0;
    background-color: #c8f9ef;
    border-radius: 50%;
    scale: 1.1;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 10px white;
}



.search button img{
    width: 25px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;

}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 30px;
    font-weight: 100;
    margin-top: -10px;
}
.col{
    display: flex;
    align-items:center;
    text-align: left;
    gap: 10px;
}

.col img{
    width: 50px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.details{
    display: none;
}