@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Signika Negative", sans-serif;;
}

.container{
    width: 100%;
    height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.music-player{
    background: #a4d9ff;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 15px;

}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle img{
    filter: invert(100%);
}

nav .circle{
    border-radius: 25%;
    padding: 6px;
    background: rgb(77, 147, 218);
    display: flex;
    justify-items: center;
    align-items: center;
    box-shadow: 0 5px 10px rgb(99, 177, 251)
}

.song-img{
    width: 220px;
    border-radius: 10px;
    border: 5px solid #fff;
    box-shadow: 0 10px 60px rgb(56, 135, 153);
}


.cover h1{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
}

.cover p{
    font-size: 14px;
    color: #333;
    text-align: center;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: rgb(205, 243, 255);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: rgb(27, 154, 251);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 7px solid rgb(3, 123, 175);
    box-shadow: 0 5px 5px rgb(56, 135, 153 ,0.5);

}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.c{
    width: 60px;
    height: 60px;
    margin: 20px;
    background:#c0daed;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    box-shadow: 0 5px 5px rgb(56, 135, 153 ,0.5);
    cursor: pointer;
}

.play-pause{
    transform: scale(1.5);
    background: #e6f3fd;
}