@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri","Truculenta";
}

.hero{
    height: 100vh;
    width: 100%;
    background: #edf2fc;
    position: relative;
}

.logo{
    width: 100px;
    cursor: pointer;
}

nav{
    /* background-color: red; */
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    text-decoration: none;
    color: #606163;
}

nav ul li a:hover{
    color: #4dbae6;
}


.info{
    /* background: red; */
    margin-left: 8%;
    margin-top: 15%;
}

.info h1{
    font-size: 70px;
    color: #212121;
    margin-bottom: 20px;
}

.info span{
    color: #4dbae6;
}

.info p{
    color: #606163;
    line-height: 22px;
}

.info a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: 0.5s ease;
}

.info a:hover{
    background: #ff4321;
    transform: scale(1.1);
}

.img-box{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* .img-box img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
} */

.back-img{
    width: 450px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s ease;
    /* transform: translateX(-50%) rotate(0deg); */
    /* transition: transform 0.5s ease, bottom 0.5s ease; */
}
.main-img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: left 1s ease;
}

.img-box:hover .back-img{
    bottom: 30px;
    /* transform: translateX(-50%) rotate(10deg); */
}
.img-box:hover .main-img{
    left: 54%;
    /* transform: translateX(-50%) rotate(10deg); */
}

.social-links{
    margin-left: 8%;
    margin-top: -20px;
}

.social-links a{
    font-size: 30px;
    color: #4dbae6;
    margin-right: 20px;
}

.social-links a:hover{
    color: #ff4321;
}