*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: rgb(32, 27, 27);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box{
    width: 400px;
    max-width: 90%;
    position: relative;
    /* background-color: red; */
}

.input-box input{
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border: 1px solid #ccc;
    outline: none;
    color: #fff;
    background: transparent;
}

button {
    background: transparent;
    filter: invert();
    border: 0;
    outline: none;
    border-radius: 10%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4px;
}

#msg {
    color: white;
}
