@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Dosis:wght@700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Lilita+One&family=Parkinsans:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
}


.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}





