@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Stack Sans Notch", sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(205, 247, 179, 0.8),rgba(0, 0, 0, 0.697)), url(./img/pexels-leah-newhouse-50725-325521.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 10%;
    color: #fff;
}

.hero h3{
    margin-top: 10vh;
    font-weight: 400;
    font-size: clamp(18px,4vw,30px);
}

.hero h1{
    margin-top: 2vh;
    font-size: clamp(30px,8vw,55px)
}

.hero p {
    margin: 10px 0 5vh;
    font-size: clamp(14px,3vw,18px)
}

form{
    background: #fff;
    display: flex;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

form input{
    flex:1;
    max-width: 400px;
    /* width: clamp(50px, 90%, 400px); */
    border: 0;
    outline: none;
    padding: 10px 20px;
    height: clamp(40px,7vh,70px);
    font-size: clamp(13px, 3vw, 16px);
    border-radius: 10px;
    
}

form button{
    background: #61b752;
    border: none;
    outline: none;
    height: 70px;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    scale: 0.9;
    filter: drop-shadow(1px 1px 15px rgb(132, 255, 132));
}

form button:active{
    scale: 0.8;
    border-radius: 10px;
    display: run-in;
    filter: drop-shadow(1px 1px 30px rgb(26, 255, 26));
}

#msg {
    color: #53ff35;
    margin-top: 10px;
    display: block;
    filter: drop-shadow(1px 1px 5px rgb(192, 255, 192));
}


@keyframes appear {
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
@media (max-width: 500px) {
    form {
        max-width: 98vw; /* Form fits smaller screens */
    }
    form input {
        max-width: 98vw;
        min-width: 90px;
        height: 40px;   /* Slightly smaller height for mobile */
        font-size: 14px;
        padding: 8px 10px;
    }
    form button{
        scale: 0.7;
    }
}


@media (max-width: 400px) {
    form input {
        height: 50px;
    }
}


#grad {
    background: linear-gradient(90deg,#cf5c5c,#c19b4a,#55632d,#c6ee4a,#42eca6,#64b3d9,#208ea2,#325988,#37499a,#69609f,#cf5c5c,#c19b4a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 1100% 100%;
    animation: animateBg 4s linear infinite;
}
@keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}
